<form [formGroup]="bookForm" (ngSubmit)="submit()">
  <div class="mb-3">
    <label for="nom_book" class="form-label">Nom book</label>
    <input type="text" class="form-control" id="nom_book" formControlName="nom_book">
  </div>
  <div class="mb-3">
    <label for="page" class="form-label">Page</label>
    <input type="number" class="form-control" id="page" formControlName="page">
  </div>
  <div class="mb-3">
    <label for="type" class="form-label">Type</label>
    <input type="text" class="form-control" id="type" formControlName="type">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
