public ResponseEntity<Integer> authenticateUser(@RequestParam String login,@RequestParam String pwd) throws NoSuchAlgorithmException{
    Optional<[classNameMaj]> u=repo.findUserByEmailAndMdp(login, pwd);
    if(u.isPresent()){
        [classNameMaj] o=u.get();
        Integer id = o.getId[classNameMaj]();
        return ResponseEntity.ok(id);
    }
    return ResponseEntity.status(HttpStatus.UNAUTHORIZED).body(null);
}