<table class="table">
    <thead>
      <tr>
        <th scope="col">article</th> 
<th scope="col">nombre</th> 
<th scope="col">date</th> 

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vente of listeVente | async">
        <td>{{ vente.article.nom }}</td> 
<td>{{ vente.nombre }}</td> 
<td>{{ vente.date }}</td> 

        <td><button type="button" class="btn btn-primary" (click)="deleteVente(vente.idVente)">Delete</button></td>
        <td><button type="button" class="btn btn-primary" (click)="versUpdate(vente.idVente)">Update</button></td>
      </tr>
    </tbody>
  </table>
   
