<form [formGroup]="venteForm" (ngSubmit)="submit()">
  <div class="mb-3">
 <label for="page" class="form-label">article</label> 
<select class="form-select" aria-label="Default select example" formControlName="id_article">
  <option  *ngFor="let article of listeArticle | async" value="{{article.idArticle}}"> {{article.nom}}</option>
</select>   </div> 
<div class="mb-3">
    <label for="nombre" class="form-label">nombre</label>
    <input type="number" class="form-control" id="nombre" formControlName="nombre">
  </div> 
<div class="mb-3">
    <label for="date" class="form-label">date</label>
    <input type="date" class="form-control" id="date" formControlName="date">
  </div> 

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
